<div class="card w-50 mx-auto">
    <div class="card-body">
        <h3>Congratulations, your
            <span class="text-success">{{product}}</span> was deleted from our list!</h3>
        <a href="http://localhost:3000/products" class="btn btn-primary btn-sm my-3">see all products</a>
    </div>
</div>