<div class="card w-50 mx-auto">
    <div class="card-body">
        <h3>You have to write a name and a price for your product!</h3>
        <a href="http://localhost:3000/" class="btn btn-primary btn-sm my-3">&#8592;&#32;back</a>
    </div>
</div>