<div class="jumbotron w-75 mx-auto mt-4 px-5">

    <h2 class="display-6">{{title}}</h2>
    <p class="lead text-primary"> {{tagline}}
    </p>
    <hr class="my-4">
    <div class="card w-75 mx-auto p-3">
        <div class="card-header">
            <h3 class="p-2">What do you want to sell?</h3>
        </div>



        <div class="card-body">
            <form action="/products/new-product" method="POST">
                <div class="form-group">
                    <input type="text" name="product"  class="form-control" placeholder="product" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="description"></textarea>
                </div>
                <div class="form-group">
                    <input name="price" class="form-control" type="number" placeholder="price">
                    </textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>